.hidden {
  display: none !important;
}

header {
  padding: 1rem 0;
}

.new-entry,
.entries-header {
  margin: 1rem 0;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  header {
    padding-left: 1.5rem;
  }

  .new-entry,
  .entries-header {
    margin-left: 0.5rem;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

.photo,
.title,
.url,
.notes {
  display: flex;
  flex-direction: column;
}

.photo,
.title,
.url,
.notes,
.save {
  padding-bottom: 1.5rem;
}

label {
  padding-bottom: 0.5rem;
}

.save {
  display: flex;
  justify-content: end;
}

h1,
h4 {
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul,
li,
.entry-name,
.entry-notes {
  margin: 0;
  padding: 0;
}

.list-container {
  padding-bottom: 1rem;
}

.row.entries-header {
  justify-content: space-between;
}

.container.header {
  display: flex;
  align-items: center;
}

p.entries {
  margin-left: 3rem;
}
