html {
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
}

input,
textarea {
  border-radius: 5px;
  border: grey 1px solid;
}

input:focus,
textarea:focus {
  outline: none;
  border: #562b81 solid;
}

h1,
h4,
label,
p,
a,
li {
  font-family: "Proza Libre", sans-serif;
}

a.entries {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

h4 {
  font-weight: 300;
  color: white;
}

h1 {
  font-size: 2rem;
}

.entry-name {
  font-size: 1.8rem;
}

.entry-notes {
  font-size: 1.3rem;
}

label {
  font-weight: bold;
}

.submit,
.entry-form {
  border: none;
  color: white;
  background-color: #562b81;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
}

ul,
li {
  list-style: none;
  justify-content: center;
}

img {
  object-fit: contain;
  border-radius: 5%;
}

.fa.fa-pencil {
  color: #562b81;
  font-size: 1.5rem;
}

button,
.fa.fa-pencil:hover {
  cursor: pointer;
}
